body {
	background: rgba(0,0,0, 1);
	color: rgba(255,255,255,1);
	display: flex;
	font-family: 'Montserrat', sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(7, 1fr);
	gap: 10px 0px;
	grid-template-areas:
	"Header"
	"Subheader"
	"btn-1"
	"btn-2"
	"btn-3 "
	"btn-4"
	"footer";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    max-height: 500px;
}
.header { grid-area: Header; }
.subheader { grid-area: Subheader; }
.btn-1 { grid-area: btn-1; }
.btn-2 { grid-area: btn-2; }
.btn-3 { grid-area: btn-3; }
.btn-4 { grid-area: btn-4; }
.footer { grid-area: footer; }

.grid-container span {
    display: flex;
    margin: 10px 10px 0 10px;
}
  
a {
	background: rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
	line-height: 1.5;
	padding: .25em;
	text-decoration: none;
}

.header, .subheader {
	grid-column: 1 / 12;
}

.header img {
	height: 80px;
	width: 80px;
    margin-right: 15px;
}

.header h1 {
	margin: 0px;
	font-size: 1.5em;
}

.projectLinks {
	padding: 10px;
	margin: 10px;
	background: rgba(31, 97, 141,1);
	font-weight: 100;
    color: #fff;
	cursor: pointer;
	font-size:16px;
	font-weight: 400;
/* 	max-width: 160px;  */
	max-height: 25px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
    text-align: center;
}

.projectLinks svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
}
  
.projectLinks rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.projectLinks:hover {
  font-weight: 600;
  letter-spacing: 1px;
}
.projectLinks:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (min-width: 800px) {    
    .grid-container {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas:
		"Header Header Header Header"
		"Subheader Subheader Subheader Subheader"
		"btn-1 btn-2 btn-3 btn-4"
		"footer footer footer footer";
		max-width: 800px;
	}
}

@media only screen and (max-width: 800px) {    
    .header h1{
	    margin: 0;
	    font-size: 1.5em
    }
}