body {
	background: rgba(0,0,0, 1);
	display: flex;
	font-family: 'Montserrat', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . .";
}


p {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
}

p @media(min-width: 600px) {
    left: 50%;
    position: absolute; 
    transform: translate(-50%, 0);
    top: 90%;
}
  
p @media(max-height: 500px) {
    left: 0;
    position: relative;
    top: 0;
    transform: translate(0, 0);
}
  
a {
	background: rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
	line-height: 1.5;
	padding: .25em;
	text-decoration: none;
	
	
}
.projectLinks {
	padding: 10px;
	margin: 10px;
	background: rgba(31, 97, 141,1);
	font-weight: 100;
    color: #fff;
	cursor: pointer;
	font-size:16px;
	font-weight: 400;
	max-width: 160px; 
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.projectLinks svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
}
  
.projectLinks rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.projectLinks:hover {
  font-weight: 600;
  letter-spacing: 1px;
}
.projectLinks:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }